
.ProblemIconParentDiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: auto;
    padding: 3%;
}

.ProblemIconDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ProblemIcons{
    width: 140px;
}

.CONSULTNOW{
    color: #008080;
}